/[Ll]ibrary/
(/[Tt]emp|/[Tt]mp)/
(/[Oo]bj|/[Bb]uild|/[Bb]uilds)/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
.vs/
.idea/
.vscode/
ExportedObj/
*.apk
*.aab
*.unitypackage
*.app
